{% extends 'layout.html' %}

{% block body %}
<!-- <p>{{daily}}</p> -->
<main id="workers">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Local</th>
            <th scope="col">Notes</th>
            <th scope="col">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for row in daily: %}
          {% set date = row[1] %}
          <form name="show" action="/show" method="POST">
            <tr>
              <th scope="row">{{row[0]}}</th>
              <td>{{ date|strftime }}</td>
              <td>{{row[2]}}</td>
              <td>{{row[5]}}</td>
              <td>
                <input type="hidden" name="dailyNumber" value="{{row[0]}}">
                <input id="show" class="btWorker" type="submit" name="btAction" value="Show">
              </td>
            </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
</main>

{% endblock %}