{% extends 'layout.html' %}

{% block body %}
<main id="plan">
    <div class="formulario">
        <form class="mainform" name="mainform" action="">   
            <datalist id="workers">
                <option value="Luis">
                <option value="kiet">
                <option value="doo">
                <option value="Luan">
            </datalist>
            
            <div class="loc">
                <label class="col1">Location :</label>
                <input class="col2" type="text" id="lat" readonly="yes">
                <input class="col3" type="text" id="lng" readonly="yes">
            </div>
            <div class="labels">
                <label>worker1</label>
                <label>worker2</label>
                <label>car</label>
                <label>notes</label>
            </div>
            <div id="inputs" class="inputs">
                <input list="workers"/>
                <input list="workers"/>
                <input list="cars"/>
                <textarea oninput="auto_grow(this)" cols="20"></textarea>
            </div>
            <div>
                <button id="btn">+</button>
            </div>
            <div class="formbuttons">
                <button>Save</button>
                <button>Send</button>
            </div>
            </form>
    </div>
    <div class="mapa">
        <map class="conteudo">
            <h1>Select a location!</h1>
        <p>Click on a location on the map to select it. Drag the marker to change location.</p>
        
        <div id="map"></div>
        
        <script type="text/javascript" src="../static/map.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            function auto_grow(element) {
                element.style.height = "52px";
                element.style.height = (element.scrollHeight)+"px";
            }

            var count=1;
            $("#btn").click(function(e){
                e.preventDefault();            
                $("#inputs").append(addNewRow(count));
                count++;
            });

            function addNewRow(count){
            var newrow='<input list="workers"/>'+
                '<input list="workers"/>'+
                '<input list="cars"/>'+
                '<textarea oninput="auto_grow(this)" cols="20"></textarea>';
            return newrow;
            }
        </script>
        </map>
    </div>

</main>
{% endblock %}