<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <title>Genba plan</title>
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="topnav">
                <a {% if page == 'home' %}class="active"{% endif %} id="homebt" href="/">HOME</a>
                <a {% if page == 'workers' %}class="active"{% endif %} id="workersbt" href="/workers" onclick="menulight()">Workers</a>
                <a {% if page == 'cars' %}class="active"{% endif %} href="/cars">Cars</a>
                <a {% if page == 'history' %}class="active"{% endif %} href="/history">History</a>
                <div class="login">
                    <a href="/history">Log Out</a>
                </div>
            </header>
            {% block body %}
            {% endblock %}
            <!-- <footer class="rodape">footer</footer> -->
        </div>
        <script>
            function menulight() {
                var element = document.getElementById('homebt');
                var elementOn = document.getElementById('workersbt');
                elementOn.classList.add('active');
                element.classList.remove('active');
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

</html>