{% extends 'layout.html' %}

{% block body %}
<main id="workers">
  <h1>{{formname}}</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in workers: %}
            <form name="showworker" action="/workers" method="POST">
              <tr>
                <!-- <th scope="row">1</th> -->
                <th scope="row">{{row[0]}}</th>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>
                  <input type="hidden" name="idNumber" value="{{row[0]}}">
                  <input class="btWorker" type="submit" name="btAction" value="alt">
                  <input class="btWorker" type="submit" name="btAction" value="del"></td>
              </tr>
          </form>
          {% endfor %}
          <form name="addworker" action="/workers" method="POST" autocomplete="off">
            <th scope="row">#</th>
            <td><input name="name" placeholder="Name"></td>
            <td><input name="email" placeholder="Email"></td>
            <td><input name="phone" placeholder="Phone"></td>
            <input type="hidden" name="btAction" value="add">
            <td><input class="btWorker" type="submit" value="add"></td>
            
          </form>
          <td></td>
        </tbody>
      </table>

</main>
<script>
  $(document).ready(function() {
    $('input').attr('autocomplete', 'off');
  });
</script>

{% endblock %}